
<h1 id="conHeader">Lets Chat!</h1>
<p id="conPara">We would love to hear from you and answer any questions you might have.</p>

<div class="contactPage ">
    <div class="conInfo"><span>&#x260E;</span><p>Call us at<br>(303) 663-4366</p></div>
    <div class="conInfo"><span>&#9873;</span><p>610 Fifth St Suite 300,<br> Castle Rock, CO 80104</p></div>
    <div class="conInfo"><span>&#x2709;</span><p>Email is at<br>castlevalleydental@gmail.com</p></div>
</div>