<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
    
<form action="/account/login" method="post" class="loginForm">
        <h1>Login</h1>
        <fieldset>
            <input type="email" name="account_email" placeholder="email@gmail.com" required value="<%= locals.account_email %>"><br>
            <input name="account_password" type="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required><br>
            <input type="checkbox" onclick="showPassword()" id="checkPass"> Show Password
        </fieldset>
<button type="submit" value="Login">Login</button>
        <p>No account? <a href="/account/register">Sign-up</a></p>
    </form>
    