
    
<form action="" method="post" class="loginForm">
        <h1>Login</h1>
        <fieldset>
            <input name="username" id="username" type="text" placeholder="username" required><br>
            <input name="username" id="password" type="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required><br>
            <input type="checkbox" onclick="showPassword()" id="checkPass"> Show Password
        </fieldset>
<button type="submit" value="Login">Login</button>
        <p>No account? <a href="..">Sign-up</a></p>
    </form>
    