<footer>
    <div class="contactInfo">
    <p>(303) 663-4366
        </p>
        <p>610 fifth St Suite 300,
        Castle Rock, Co 80104</p>
    </div>

    <img src="/images/Doctors.png" alt="Dentists names" >

</footer>