<nav>
    <ul>
        <li>Home</li>
        <li>Team</li>
        <li>Patients</li>
        <li>Services</li>
        <li>Schedule</li>
        <li>Contact</li>
    </ul>
</nav>

<img src="/images/CRock.jpeg" alt="winter in Castle Rock">