<button class="hamburger">
      <!-- material icons https://material.io/resources/icons/ -->
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
    </button>
    <nav class="menu">
    <ul >
         <li> <a class="menuItem" href="/">Home</a></li>
         <li> <a class="menuItem" href="/team">Team</a></li>
          <!-- <li> <a class="menuItem" href="/patients">Patients</a></li> -->
          <li><a class="menuItem" href="/services">Services</a></li>
          <li><a class="menuItem" href="/schedule">Schedule</a></li>
          <li><a class="menuItem" href="/">Contact</a></li>
    </ul>
    </nav>
    
<img src="/images/castleR.webp" alt="winter in Castle Rock">