@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Lora:wght@400&display=swap');



:root{
  --primary-color: #2b3a5b;
  --secondary-color: #D0E3ff;
  --light-color: #f0f7ff;
  --header-font: 'Lora', serif;
  --font-fam: 'Lato', sans-serif;
}

html{
  background-color: var(--light-color);
}

h1, h2, h3, h4, h5{
  font-family: var(--header-font);
  color: var(--primary-color);
  font-weight: 400;
}

h3{
  font-size: 32px;

}

h4{
  font-size: 15px;

}

p, a{
  font-family: var(--font-fam);
  color: var(--primary-color);
}





svg {
  width: 5rem;
}

.siteName img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.hero img{
  width: 100%;
  height: 100%;
}

header{
  padding: 3rem;
}


/*-------- HAMBURGER NAVIGATION -----------*/
nav {
  font-size: 24px;
}

nav ul {
  padding: 2rem;
  background-color: var(--secondary-color);
}

nav ul li {
  list-style: none;
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 1rem;
  border-bottom: solid 4px var(--primary-color);
  width: 2rem;
  transition-duration: 1s;
}

li a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--font-fam);
}

nav ul li:hover {
  width: 6rem;
}


i.closeIcon {
  display: none;
}

i.menuIcon, i.closeIcon {
  font-size: 42px;
  color: var(--primary-color);
  z-index: 100;
}

.hamburger {
  border: none;
  background-color: transparent;
  position: absolute; /* Position the hamburger button relative to the viewport */
  top: 7rem; 
  left: 2rem; 
  z-index: 101; 
}

/*------------ SERVICES SECTION -----------*/
.listService{
  display: flex;
  flex-direction: column;
}

.listService img{
  width: 70%;
  height: 100%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.listService ul li{
  padding: 1rem;
  list-style: none;
  color: var(--primary-color);
}

h2{
  text-align: center;
  font-size: 32px;
}

.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.services a{
  text-align: center;
  padding: 1rem;
  color: var(--primary-color);
  font-size: 20px;
  text-transform: uppercase;
}


.services a:hover{
  color: var(--secondary-color);
}



/*------- CURRENT OFFERS --------*/
.currDeals{
  background-image: url("../images/dentalOffice.webp");
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  display: flex; 
  justify-content: center;
  background-position: center;
   background-size: cover;
}

.offer{
  background-color: var(--light-color);
  margin: 3rem;
  padding: 2rem 3rem;
  text-align: center;
  box-shadow: 5px 5px 20px var(--light-color);
}
.specials{
  margin: 1rem 5rem;
}

.offer h4{
  font-size: 50px;
  margin: 0;
}

.offer h3{
  font-size: 24px;
}
.offer p{
  font-size: 18px;
}


.offer a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
    padding: 1rem;
  font-size: 18px;
  background-color: transparent;
  border: solid 2px var(--primary-color);
}
.offer a:hover{
  text-decoration: underline;
}

/*---------- REVIEW SECTION ----------*/
.review {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  background-color: var(--secondary-color);
  margin: 1rem;

}

.indvReview{
  width: 800px;
  height: 500px;
  background-color: var(--light-color);
  margin: 1rem;
  padding: 2rem;
}


/*------- Map and contact --------*/
iframe{
  width: 100%;
}

.info{
  text-align: center;
  padding: 2rem;
  margin: 0 3rem;
}

.info a {
  color: var(--primary-color);
  font-size: 15px;
 padding: 4rem;
}

.info a:hover{
  color: var(--secondary-color);
}
/*------- Footer --------*/

footer{
  text-align: center;
  background-color: var(--primary-color);
  padding: 2rem;
  
}

footer p{
  color: var(--light-color);
  font-size: 18px;
}

footer img{
  width: 60%;
}


/*------- TEAMS PAGE --------*/
/*------- DENTISTS SECTIONS --------*/

.doctorInfo {
  display: flex;
  flex-direction: column;
  margin:3rem 4rem;
  align-items: center;
  gap: 3rem;
}


.doctorInfo p{
  text-indent: 3rem;
}

.aboutDoc{
  width: 80%;
  height: 300px;
  padding: 0 1rem;
  border: solid 2px var(--light-color);
  border-radius: 15px;
  overflow: auto;
}



.aboutDoc::-webkit-scrollbar {
  -webkit-appearance: none;
}

.aboutDoc::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--light-color)
}

.docPhoto img{
  height: 400px;
  box-shadow: 2px 2px 20px #968783;
}

.doc{
  background-color: var(--secondary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  width: 100%;
  border-radius: 15px;
}

.cvdInfo{
  margin: 2rem;
}

.cvdInfo h3{
  text-align: center;
  color: var(--primary-color);
  font-size: 24px;
}

.cvdInfo img{
  width: 100%;
}

/*------- PATIENTS PAGE --------*/
/*------- PATIENTS HERO SECTIONS --------*/
.pHero{
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  grid-template-rows: 1fr .2fr .2fr;
  gap: 1rem;
}
.heroImg{
  width: 100%;
  border-radius: 0 0 50% 50%;
  grid-column: 2 / span 2;
  object-fit: cover;
}
.pHero h1{
  grid-column: 1 /span 3;
  margin: 1rem;
  font-size: 42px;
}

.pHero a{
  color: var(--primary-color);
  text-decoration: none;
  padding: 1rem;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
  border: solid 2px var(--primary-color);
  grid-column: 1 /span 2;
  grid-row: 3 / span 1;
  height: 10px;
  width: 120px;
  margin-left: 2rem;

}
.pHero a:hover{
  text-decoration: underline;
}

.phone{
  grid-column: 1 /span 2;
  margin: 1rem;
  grid-row: 3 / span 1;
  align-self: self-end;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  background-color: var(--light-color);
  text-align: right;
  padding: .5rem;
  width: 200px;
  border-radius: 50px;
}

.phone span {
    font-family: var(--font-fam); 
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: .5rem;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: .8rem;
    text-align: center;
}

.pHero p{
  margin: 0;
  background-color: transparent;
}



.patientRev{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  margin: 1rem;
}
.patientRev img{
  width: 8rem;
}
.pHero h2{
  text-align: left;
  font-size: 60px;
  margin: 0;
}

/*------- General & Fam SECTIONS --------*/

.genDentist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.genDentist img{
  width: 90%;
  border-radius: 0 0 0 50%;
}

.genDentist p{
  font-size: 18px;
  text-indent: 3rem;
}

/*------- SERVICE SECTIONS --------*/
.serve{
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 15px;
  border: solid 2px #c6d9f5;
  box-shadow: 2px 2px 20px #b4c6e1;
  height: 100%;
}

.serve p{
  margin: 0;
}

.patServices{
  margin: 0 2rem;
  
}
/*------- Emergency SECTION --------*/

.denQuote img{
  display: none;
}
.denQuote h4{
  font-size: 32px;
}

.emg {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 4rem 2rem;
}

.emg img{
  width: 100%;
  height: 500px;
  padding: 2rem;
  object-fit: cover;
}

.emergencies {
  position: absolute; 
  top: 0;
  left: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px; 
}


/*------- SCHEDULE FORM --------*/

form{
  color: var(--primary-color);
  padding: 2rem;
}
form label{
  font-family: var(--header-font);
  margin-top: 2rem;

}

form input{
  margin: .5rem 0;
  border: solid 2px #ced5dd;
  padding: .5rem;
}

fieldset{
  padding: .5rem;
  border: none;
}

textarea{
  width: 100%;
  padding: .7rem;
  border: solid 2px #ced5dd;
}

input[type="radio"]{
  margin: 1rem;
}

select{
  padding: .5rem;
  border: solid 2px #ced5dd;
}

input:required{
  border-left: solid 3px rgb(192, 61, 61);
}

input:required:valid{
  border-left: solid 3px rgb(142, 211, 168);
}

.submitBtn{
  background-color: transparent;
  border: solid 2px var(--primary-color);
  padding: .5rem;
  font-size: 15px;
}

.submitBtn:hover{
  text-decoration: underline;
}


/* SECTION FOR THE LOGIN AND SIGN UP PAGE */

.loginForm input{
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 3px solid var(--primary-color);
  font-size: 18px;
  
}


.loginForm{
  width: 300px; 
  margin: 1rem auto; 
  text-align: center; 
  background-color: var(--secondary-color);
  border-radius: 25px;
  box-shadow: 2px 2px 15px #968783;
}

.loginForm h1{
  font-size: 38px;
}

.loginForm button{
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 24px;
  border: none;
  padding: .5rem;
  width: 80%;
  border-radius: 25px;
}

.loginForm button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.contactPage{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conInfo{
  text-align: center;
}

.conInfo p {
  font-size: 20px;
}
.conInfo span{
  font-size: 42px;
  color: var(--primary-color);
}

#conHeader{
  font-size: 42px;
  text-align: center;
}

#conPara{
  text-align: center;
  font-size: 24px;
}

  /*-------- MEDIA QUERY FOR LAGER SCREEN --------*/
  @media only screen and (min-width: 650px) {

    .siteName img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 18rem;
    }


    nav{
      position: static;
      width: auto; 
      height: auto; 
      background-color: transparent; 
      order: 2;
      font-size: 26px;
      padding-left: 2rem;
    }

    nav ul{
      padding: 0;
      margin: 0;
      background-color: transparent;
    }

    nav ul li{
      padding-bottom: 1rem;
    }

    .hamburger{
      display: none;
    }

    .hero{
      display: flex;
      align-items: start;
      justify-content: center;
    }

    .hero img{
      width: 60%;
      order: 1;
    }

    nav ul li:hover{
      border-bottom: solid 4px var(--secondary-color);
    }

    li a:hover{
      color: var(--secondary-color);
    }


    /*----------- Services List  ----------*/

    .listService{
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
    }

    h2{
      font-size: 42px;
    }

    .listService img{
      width: 80%;
      margin: 0;
    }

    /*------------ OFFERS SECTION ----------*/

    .currDeals{
      width: 100%;
      height: 40%;
    }
    
    .offer{
      margin: 5rem;
      padding: 2rem;
    }

    .offer h4{
      font-size: 65px;
    }

    .offer h3{
      font-size: 30px;
    }
    .offer p{
      font-size: 24px;
    }


/*---------- REVIEW SECTION ----------*/
  .review{
      margin: 6rem;
  }


/*---------- CONTACT SECTION ----------*/


.connect{
  display: flex;
  margin: 2rem;
  align-items: center;
  margin: 1rem 5rem;
  
}

.connect p, .connect a{
font-size: 18px;
}
/*---------- FOOTER ----------*/
    footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    footer p{
      text-align: left;
      font-size: 24px;
    }
    footer img{
      width: 15rem;
    }


    .cvdInfo{
      margin: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .cvdInfo h3{
      font-size: 32px;
      padding: 2rem;
      margin: 0 6rem;
    }
    
    .cvdInfo img{
      width: 500px;
    }



    .doctorInfo{
      flex-direction: row;
      gap: 0;
      align-items: flex-end;
      padding: 0;
      margin: 3rem 2rem;
    }

    .doc{
      height: 400px;
      padding: 0 2rem;
      margin-bottom: 3px;
      border-radius: 0 15px 15px 0;
      
    }

    .aboutDoc{
      width: 100%;
      height: 300px;
      overflow: auto;
      border: none;
     
    }

    .docPhoto img{
      height: 400px;
      box-shadow: none;
      border-radius:  15px 0 0 15px;

    }

    /*------- PATIENTS PAGE --------*/
/*------- PATIENTS HERO SECTIONS --------*/

.pHero{
  margin: 1rem 5rem;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 25% 5% 10% 10% 10% 10% 10%;
  height: 500px;
}

.heroImg{
  justify-self: self-end;
  grid-column: 3 /span 1;
  grid-row: 1 / span 5;
  height: 500px;
}

.pHero h1{
  grid-row: 1 / span 1;
  grid-column: 1 /span 2;
}
.pHero a{
  grid-row: 2 / span 1;
  grid-column: 1 /span 2;
}
.phone {
  grid-row: 7 / span 1;
  grid-column: 1 /span 2;
}

.patientRev{
  grid-column: 2 /span 1;
  grid-row: 3 / span 1;
}

/*------- Fam and general Dentist SECTIONS --------*/

  .genDentist{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin: 1rem 2rem;
  }

  .genDentist img{
    width: 90%;
    border-radius: 0 0 0 50%;
  }

  .genDentist p{
    font-size: 18px;
    text-indent: 3rem;
  }


  .patServices{
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .serve p{
    font-size: 20px;
  }

  .serve h4{
    font-size: 18px;
  }
  

  .cosmetic img, .ortho img{
    display: none;
  }

  .denQuote img{
    display: inline;
    width: 100%;
  }
  .denQuote{
    display: flex;
    align-items: center;
    text-align: center;
  }

  .denQuote h4{
    font-size: 24px;
  }

  .emg{
    margin: 2rem 6rem;
  }

  form{
    margin: 0 8rem;
  }


  }


  @media only screen and (min-width: 1200px) {

    .hero img{
      width: 800px;
    }

    .doctorInfo{
      margin: 3rem 10rem;
    }

    .pHero{
      margin: 1rem 16rem;
    }
    
    .heroImg{
      height: 500px;
    }

    .genDentist{
      margin: 0 12rem;
    }

    .patServices{
      margin: 0 12rem;
    }

    .emg{
      margin: 3rem 12rem;
    }

    .denQuote img{
      width: 400px;
    }

    .emg img{
      width: 100%;
      height: 400px;
      padding: 2rem;
      object-fit: cover;
    }

    form{
      margin: 0 18rem;
    }

  }