<div class="doctorInfo">
    <div class="jaminPhoto docPhoto">
        <img src="../images/doctors/jamin.jpg" alt="Doctor Jamin Houser DDS">
    </div>
    <div class="doc">
        <h2>Dr. Jamin Houser DDS</h2>
        <div class="aboutDoc">
        <p>I consider myself lucky to be able to say that without a doubt, I love what I do. Being a dentist isn’t just about treating teeth and gums. Every day I have the opportunity to meet new people and give them the opportunity to get healthy and to stay healthy.</p>
<p>I was born in Tokyo and have lived all over the world including Africa and Australia. My family finally settled in Colorado in 1982. I graduated from Ponderosa High School in 1989 and spent four years in the U.S. Navy. Following my navy days, I continued my education at Utah State University. After graduation, I came back to Colorado to pursue my dental education. I am a proud alumni of the University of Colorado earning my bachelor’s degree in Health Sciences and doctorate in Dental Surgery. I really felt ready to go to work when I graduated in 2001 and started Castle Valley Dental in August of 2001.</p>
<p>My large family is a constant source of inspiration as we face life’s triumphs and challenges together. My wife Stacie and I were married in 1990 and have six children with a growing number of son and daughter in laws, and grandbabies.</p>
<p>I love to travel, camp, cycle, boat and try anything that involves my friends and family being together. I love spending time with people, but also enjoy time to myself reading and listening to great music. </p>
<p>I strive every day to help people live better by learning what it takes to have healthy teeth. We achieve this by understanding what is important to our patients and improving the way that they feel about themselves. There is no better feeling than seeing a patient feel confident about their smile.</p>
        </div>
    </div>
</div>


<div class="doctorInfo">
    <div class="javanPhoto docPhoto">
        <img src="../images/doctors/javan.jpg" alt="Doctor Javan Houser DDS">
    </div>
    <div class="doc">
        <h2>Dr. Javin Houser DDS</h2>
        <div class="aboutDoc">
        <p> I love to help others and enjoy fixing things which make dentistry the perfect job for me. I really enjoy the technical aspect of dentistry and learning new things. Orthodontics has become a specialty of mine and I very much enjoy straightening teeth. </p> 
<p>I was born in Japan while my father was serving in the Air Force and have had the opportunity to live all over the world growing up. I attended BYU for undergraduate and attended University of Colorado School of Dentistry for my dental education. After attending dental school I went directly to the Air Force and underwent officer training for a month in Montgomery AL. I served for 4 years in Mountain Home, ID doing general dentistry. I was fortunate to be accepted into a Prosthetic mini-residency and studied for six weeks at Lackland AFB in San Antonio TX.</p> 
<p>Following my four years of military service, I worked doing dentistry with a company called Dental One. After ten years of working with the company, I finally gave in to my brother (who had talked to me for years about working with him) and joined him in Castle Rock at Castle Valley Dental.</p> 
<p>In my personal life, I am blessed with a wonderful wife and four amazing children who are growing our family through marriage and grandchildren. I have many personal interests and hobbies. I have been involved with the Boy Scouts of America for almost 20 years and I am an Eagle Scout myself. I have enjoyed seeing the difference it makes in the lives of many boys. I was recognized with the Scout Master of the year award a few years ago.</p> 
        </div>
    </div>
</div>


<div class="doctorInfo">
    <div class="rylanPhoto docPhoto">
        <img src="../images/doctors/ry.jpg" alt="Doctor Rylan Houser DDS">
    </div>
    <div class="doc">
        <h2>Dr. Rylan Houser DDS</h2>
        <div class="aboutDoc">
        <p>Watching my dads career in dentistry made me interested in it myself and I decided to pursue a career in dentistry. I love being able to help others feel confident in their smile and love who they are. </p> 
<p>I studied at BYU-I and then went to Colorado university for dental school. During my time in school I married my high school sweetheart and we now have 4 beautiful kids together. She is my backbone and supports me in everything I do. We now own 20 chickens, 3 cats and a cute new puppy. We are building our own little farm. </p> 
<p>When I am not practicing dentistry I enjoy hiking, vacationing, biking and gardening. I love spending time with my wife and kids. One of my favorite things to do is go boating. We have been going to lake powell since I was 7 years old and I have many great memories on that lake. I can’t wait to share Lake Powell with my kids.</p> 
<p>I love what I do and getting the chance to help others. I am here to be your guide through dental work you might need and talk about available options. I am here to be there for you!</p> 
        </div>
    </div>
</div>

<div class="cvdInfo">
<h3> Best dentists in Castle Rock</h3>
<img src="../images/doctors/staff.jpeg" alt="Castle Valley Dental Staff">
<p>We want to be your family dental office providing all of your dentistry services. Our office in Castle Rock is easy to find and we offer convenient appointment times. Our staff is committed to your dental health needs. Our team is constantly striving to exceed your expectations when you visit our office. It is important that you feel comfortable every time you visit us. </p>
<p>You love your family. They have your favorite smiles. Our caring dentists and team at Castle Valley Dental understand that you want the best for each of your family members. We are dedicated to providing dental care that focuses on the needs of the individual. We want you to feel comfortable in our office. Our team goes the extra mile to promote a warm, welcoming atmosphere. We take the time to get to know you. We provide one-on-one treatment for each patient. In addition to providing a full range of dental services, we also offer convenient hours to accommodate your schedule and same-day emergency care. Our primary goal is to help you achieve a beautiful, healthy smile for life. Please call or visit us today to learn more about our personalized dental care in Castle Rock, Colorado.</p>
<p>Learn why our patients call us the best dentists in Castle Rock. We look forward to hearing from you!</p>
<p>Dr. Jamin Houser and Dr. Javan Houser</p>

</div>

<script src="/js/images.js"></script>