<div class="pHero">
    <img src="../images/patients/manSmile.jpg" alt="man smiling" class="heroImg">
        <h1>Keep your smile clean & Great</h1>
        <a href="">Schedule Today</a>
        <div class="phone">
            <span>&#9742;</span>
        <p>(303)663-4366</p>
    </div>
        <div class="patientRev">
            <h2> 132 </h2>
            <img src="../images/lightStars.png" alt="5 starts">
            <p>"We love this dentist, they are friendly and make you feel like family."</p>
        </div>
</div>

<div class="genDentist">
    <img src="../images/patients/GirlSmile.jpg" alt="girl smiling at the dentist">
    <div class="genFam">
        <h3>General and Family Dentistry</h3>
        <h4>Where healthy smiles begin and last a lifetime.</h4>
        <p>Our main practice here at Castle Valley Dental is general and family dentistry. This is founded on oral healthcare and encompasses a wide variety of services to maintain and improve your and your families dental health. Our treatment options will help with issues such as cavities, gum disease and tooth decay. We want to help you achieve and maintain a healthy, beautiful smile. </p>
    </div>
</div>

<div class="patServices">
    <div class="serve cosmetic">
        <h3>Cosmetic</h3>
        <h4>Enhancing your smile</h4>
        <p>Cosmetic dentistry focuses on improving the aesthetics of your smile. It includes a variety of treatments and procedures aimed at enhancing the appearance of your dental health. Common cosmetic dental services include teeth whitening, dental veneers, and orthodontic options like clear aligners. These procedures can address issues like teeth staining, discoloration, chips, gaps, and misalignments, ultimately boosting your smile. Our dentists, hygienists and assistants have been trained on a variety of cosmetic procedures to help enhance your smile and feel more confident.</p>
    </div>

    <div class="serve">
        <h4>Dentistry is not just about fixing smiles; it's about improving lives, boosting confidence, and promoting overall health and well-being, one tooth at a time.</h4>
        <img src="../images/patients/ortho.jpg" alt="girl smiling with braces">
    </div>

    <div class="serve ortho">
        <h3>Orthodontics</h3>
        <h4>Straightening smiles, boosting confidence</h4>
        <p>We are proud to offer a variety of different orthodontics treatments to help with crooked teeth, over and underbites. Traditional braces are effective for all ages and can address a wide range of orthodontic issues. Treatment duration varies, and maintenance requires good oral hygiene and regular visits. We also offer Clear Aligners that are transparent, custom-made trays to help with ortho correction. They are removable, comfortable, and digitally designed for precise treatment planning. Come in today to discuss our different options.</p>
    </div>

</div>

<div class="implants">
    <img src="../images/patients/manDentist.jpg" alt="Man at the dentist">
    <div class="impCrowns">
        <h3>Implants and Crowns</h3>
        <h4>A winning combination</h4>
        <p>Dental implants, combined with custom crowns, offer a transformative solution for replacing missing teeth. Dental implants are artificial tooth roots that anchor to the jawbone to give you a strong and stable foundation for a new tooth. Then meticulously crafted to match the color, shape, and size of your natural teeth, ensuring a seamless and attractive appearance. They are then securely attached to the implants, completing your smile with a functional and aesthetically pleasing result. This powerful duo restores not only your ability to chew and speak with confidence but also enhances your overall facial aesthetics. </p>
    </div>
</div>

<div class="emg">
    <div class="emergencies">
        <h3>Emergency Dental Care</h3>
        <h4>When you need us most</h4>
        <p>Dental emergencies can strike at any time, causing pain and discomfort that demands immediate attention. Whether it's a sudden toothache, a broken tooth, or any other urgent dental issue, our dedicated team is here to provide prompt and compassionate care. Our emergency dental services aim to alleviate your pain, address the issue at hand, and restore your oral health. We understand the urgency of these situations and offer same-day appointments whenever possible. </p>
        <p>If you're experiencing a dental crisis, don't hesitate to reach out to us. We're ready to help you when you need us most, ensuring your oral health and well-being are our top priorities. Your comfort and peace of mind are important to us, and we're here to provide the immediate care and relief you deserve.</p>
    </div>
    <a href=""> Contact Us</a>
</div>

